* text=auto
*.dart text
*.yaml text
*.yml text
*.json text
*.md text
*.txt text
*.gradle text
*.kts text
*.xml text
*.html text
*.css text
*.js text
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
*.jar binary
*.apk binary
*.aab binary
*.ipa binary